@mixin onDesktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin onTablet {
    @media (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin onMobile {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin commonTitle {
    font-family: 'Gagalin', sans-serif;
    font-size: 4rem;
    letter-spacing: 2px;
    margin: 20px 0;
    color: $dark;

    @include onMobile {
        font-size: 3rem;
        margin: 10px 0;
    }
}